﻿<div class="signup-page bg2">
    <!--<div class="signup-page-overlay"></div>-->

    <p>
        Capture images.
    </p>
    <form name="myForm">
        <button class="button button-green full-button" ng-click="getCameraPhoto();">Get Camera Photo</button>
        <span>{{uploadStatus}}</span>

        <button class="button button-green full-button" ng-click="uploadFiles();">Upload</button>
        
        <div>            
            <ul ng-repeat="image in images">
                <li><span>{{image.Src}}</span>
                    <img ng-src="{{image.Src}} style="width:200px; height:200px;" />
                </li>
            </ul>
        </div>
        <!--<div>
            <button class="button button-green full-button" ng-click="getLibraryPhoto();">Get Library Photo</button>
            <div ng-repeat="imageSrc in images">
                <img ng-src="{{imageSrc}}" style="display:block;" />
            </div>
        </div>
        <div>
            <button class="button button-green full-button" ng-click="getSavedPhoto();">Get Saved Photo</button>
            <div ng-repeat="imageSrc in images">
                <img ng-src="{{imageSrc}}" style="display:block;" />
            </div>
        </div>-->
    </form>

</div>