﻿<style>
    .ng-scope {
        height:100%!important;
        min-height:100%!important
    }
</style>
<div class="login-page bg1">
    <div class="login-page-overlay"></div>
    <div class="login-page-wrapper">
        <a href="#" class="login-logo"></a>
        <p>
            Please enter your login credentials bellow.
        </p>
        <input type="text" class="login-username" placeholder="username" name="username" ng-model="loginUser.EmailId">
        <input type="password" class="login-password" placeholder="Password" ng-model="loginUser.Password">
        
        <p class="center-text no-bottom" ng-show="showMessageflag" ng-class="{successMessage: resultSuccess == true, errorMessage: resultSuccess == false}">{{resultMessage}}</p>

        <div class="one-half full">
            <a ng-click="login();" class="button button-green">Login</a>
        </div>

        <div class="one-half last-column">
            <a href="#/signup" class="button button-blue">Signup</a>
        </div>
        <div class="clear"></div>
        <a class="forgot" ng-click="forgotPassword();">Forgot Password?</a>
    </div>
</div>

