﻿<div>
    <div class="decoration no-bottom"></div>
    <div class="content">
        <h3 class="center-text">Room </h3>
        <div class="container half-bottom">
            <div class="one-half">
                Room Description
            </div>
            <div class="one-half last-column">
                <input type="text" value="" maxlength="50" class="inpotbox" ng-model="roomItem.Description" />
            </div>
        </div>

        <p class="center-text no-bottom" ng-show="showMessageflag" ng-class="{successMessage: resultSuccess == true, errorMessage: resultSuccess == false}">{{resultMessage}}</p>
        <div class="one-half">
            <a ng-click="new();" class="button button-green responsive-button center-text">New</a>
        </div>
        <div class="one-half last-column">
            <a ng-click="save();" class="button button-blue responsive-button center-text">Save</a>
        </div>

        <div class="decoration no-bottom"></div>

    </div>

    <!-- Page Content-->
    <div class="content">
        <ul>
            <li ng-repeat="room in rooms" style="list-style:none !important;">
                <p class="user-list-socials half-bottom">
                    <strong>{{room.Description}}</strong>
                    <a href="#" class="icon1 facebook-color" ng-click="remove($index);"><i class="fa fa-remove"></i></a>
                    <a href="#" class="icon2 twitter-color" ng-click="editItem($index);"><i class="fa fa-edit"></i></a>
                </p>
                <div class="decoration no-bottom"></div>
            </li>
        </ul>

    </div>
</div>