﻿<div>
    <div class="decoration no-bottom"></div>
    <div class="content">
        <h3 class="center-text">Room Details</h3>
        <div class="container half-bottom">
            <div class="one-half">
                Select Room
            </div>
            <div class="one-half last-column">
                <select id="comboRoom" class="inpotbox" ng-model="roomDetailItem.RoomId" ng-change="roomChanged()">
                    <!--<option value="0"></option>-->
                    <option ng-repeat="room in rooms"
                            value="{{room.Id}}">
                        {{room.Description}}
                    </option>
                </select>
            </div>
        </div>
        <div class="container no-bottom">
            <div class="one-third">
                Item
            </div>
            <div class="one-third">
                Year
            </div>
            <div class="one-third last-column">
                Brand
            </div>
        </div>
        <div class="container half-bottom">
            <div class="one-third">
                <select id="comboItem" class="inpotbox" ng-model="roomDetailItem.RoomItemTypeId">
                    <!--<option value="0"></option>-->
                    <option ng-repeat="type in roomitemtypes"
                            value="{{type.Id}}">
                        {{type.Item}}
                    </option>
                </select>
            </div>
            <div class="one-third">
                <input type="number" name="year" value="" min="1900" max="2100" class="numberbox" ngmaxlength="4" ng-model="roomDetailItem.YearOfInstalled"/>
            </div>
            <div class="one-third last-column">
                <input type="text" value="" maxlength="50" class="inpotbox" ng-model="roomDetailItem.Brand" />
            </div>
        </div>
        
        <p class="center-text no-bottom" ng-show="showMessageflag" ng-class="{successMessage: resultSuccess == true, errorMessage: resultSuccess == false}">{{resultMessage}}</p>
        <div class="one-half">
            <a ng-click="new();" class="button button-green responsive-button center-text">New</a>
        </div>
        <div class="one-half last-column">
            <a ng-click="save();" class="button button-blue responsive-button center-text">Save</a>
        </div>

        <div class="decoration no-bottom"></div>

    </div>

    <!-- Page Content-->
    <div class="content">
        <ul>
            <li ng-repeat="item in roomDetails" style="list-style:none !important;">
                <p class="user-list-socials half-bottom">
                    <strong>{{item.Item}}<br><em>{{item.YearOfInstalled}} - {{item.Brand}}</em></strong>
                    <a href="#" class="icon1 facebook-color" ng-click="remove($index);"><i class="fa fa-remove"></i></a>
                    <a href="#" class="icon2 twitter-color" ng-click="editItem($index);"><i class="fa fa-edit"></i></a>
                </p>
                <div class="decoration no-bottom"></div>
            </li>
        </ul>

        <!--<p class="user-list-socials">
            <strong>Lamps<br><em>2012 - Siska</em></strong>
            <a href="#" class="icon1 facebook-color"><i class="fa fa-remove"></i></a>
            <a href="#" class="icon2 twitter-color"><i class="fa fa-edit"></i></a>
        </p>
        <div class="decoration no-bottom"></div>
        <p class="user-list-socials">
            <strong>Paint Color<br><em>Light Orange</em></strong>
            <a href="#" class="icon1 facebook-color"><i class="fa fa-remove"></i></a>
            <a href="#" class="icon2 twitter-color"><i class="fa fa-edit"></i></a>
        </p>
        <div class="decoration no-bottom"></div>-->

    </div>
</div>