﻿<style>
    .ng-scope {
        height: 100% !important;
        min-height: 100% !important;
    }
</style>


<div class="signup-page bg2">
    <div class="signup-page-overlay"></div>
    <div class="signup-page-wrapper">
        <a href="#" class="signup-logo"></a>
        <p>
            Create an account bellow, it's really easy!
        </p>
        <input type="text" class="signup-input" placeholder="First Name" ng-model="signupUser.FirstName">
        <input type="text" class="signup-input" placeholder="Last Name" ng-model="signupUser.LastName">
        <input type="email" class="signup-email" placeholder="Email" name="EmailId" ng-model="signupUser.EmailId">
        <input type="password" class="signup-password" placeholder="Password" ng-model="signupUser.Password">
        
        <p class="center-text no-bottom" ng-show="showMessageflag" ng-class="{successMessage: resultSuccess == true, errorMessage: resultSuccess == false}">{{resultMessage}}</p>

        <div class="one-half">
            <a ng-click="signup();" class="button button-green full-button">Signup</a>
        </div>
        <div class="one-half last-column">
            <a href="#/login" class="button button-blue full-button">Login</a>
        </div>
        <div class="clear"></div>
    </div>
</div>


