/*---------------------------
[Template Structure]

Project:	 SlideOut
Version:	 1.0
Primary Use: Site Template 
Layout:      Responsive
Platforms:   Mobile & Tablet
-----------------------------


@charset "UTF-8";

/* 1. General */
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.highlight { 
    background:#FFD6D6;
    border: 2px red solid;
}

.snap-drawers *{
    max-height:999999px;
    -webkit-text-size-adjust:none;
    -webkit-transform: translateZ(0);
}

body{
	height:100%;
}

.disabled{
    display:none;
}

::-webkit-scrollbar { 
    display: none; 
}

.all-elements{
	position:absolute;
	overflow-x:hidden!important;	
	width:100%;
	height:100%;
	min-height:100%;
	max-height:100%;
}

.large-title h3{text-align:center;}
.large-title p{text-align:center;}

/*Backgrounds */

.bg1{
    background-image:url(../images/pictures/1.jpg);   
    background-position:center center;
}

.bg2{
    background-image:url(../images/pictures/2.jpg);   
    background-position:center center;
}

.bg3{
    background-image:url(../images/pictures/3.jpg);   
    background-position:center center;
}

.bg4{
    background-image:url(../images/pictures/4.jpg);   
    background-position:center center;
}



/*Center Socials*/

.facebook-color{
    background-color:#3b5998;
    color:#FFFFFF;
}

.twitter-color{
    background-color:#4099ff;
    color:#FFFFFF;
}

.google-color{
    background-color:#d34836;
    color:#FFFFFF;
}

.pinterest-color{
    background-color:#C92228;
    color:#FFFFFF;
}

.sms-color{
    background-color:#27ae60;
    color:#FFFFFF;
}

.mail-color{
    background-color:#3498db;
    color:#FFFFFF;
}

/*Header*/

.header{
    height:60px;
}

.homepage-header{
    position:absolute;
    width:100%;
    z-index:999999;
    background-color:transparent!important;
}


.header .sidebar-deploy{
    float:left;
    height:60px;
    line-height:60px;
    width:60px;
    text-align:center;
    position:relative;
    z-index:1;
}

.header i{
    width:60px;
    height:60px;
    line-height:60px;
    font-size:14px;
    color:#1f1f1f;
}

.header .contact-deploy{
    float:right;
    margin-top:-60px;
    height:60px;
    line-height:60px;
    width:60px;
    text-align:center;
    position:relative;
    z-index:1;
}

.header h3{
    float:left;
    width:100%;
    text-align:center;
    margin-top:-40px;
    position:relative;
    z-index:0;
}

.homepage-header h3{color:#FFFFFF;}
.homepage-header i{color:#FFFFFF;}

.homepage-slider .overlay{
    background-color:rgba(0,0,0,0.4)!important;
}


/*Footer*/

.footer p{
    clear:both;
    margin-bottom:20px;
}

.content-box .footer-socials{
    width:240px;
}

.footer-socials{
    width:300px;
    margin-left:auto;
    margin-right:auto;
    padding-left:10px;
    padding-right:10px;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:-15px;
    margin-bottom:20px!important;
}

.footer-socials a:hover{
    transform:scale(1.15, 1.15  );
    color:#FFFFFF;
    transition:all 250ms ease-in-out;
}

.footer-socials a{
    width:35px;
    height:35px;
    text-align:center;
    line-height:35px;
    border-radius:35px;
    float:left;
    margin-left:10px;
    margin-right:10px;
    font-size:12px;
    color:#FFFFFF;
    transition:all 250ms ease-in-out;
}

.footer-socials a i{
    width:35px;
    height:35px;
    line-height:35px;
}

.footer-facebook{
    background-color:#3b5998;
}

.footer-share{
    background-color:#27ae60;
}

.footer-twitter{
    background-color:#4099FF;
}

.footer-google{
    background-color:#d34836;
}

.footer-up{
    background-color:#2c3e50;
    line-height:32px!important;
}

.footer-menu{
    position:fixed;
    z-index:9999999;
    background-image:url(../images/misc/menu-bg.png);
    background-size:100px 100px;
    width:100%;
    height:60px;
    bottom:0px;
}

.footer-menu a{
    border-right:solid 1px rgba(255,255,255,0.08);  
    color:#FFFFFF;
    font-size:14px;
}

.footer-menu a:hover{
    color:#FFFFFF;
    background-color:rgba(255,255,255,0.05);
}

.footer-menu-clear{
    height:60px;
}

.footer-menu a i{
    height:60px;
    line-height:60px;
}

.footer-menu-three-icons a{
    width:33.3%;
    float:left;
    text-align:center;
}

.footer-menu-four-icons a{
    width:25%;
    float:left;
    text-align:center;
}

.footer-menu-five-icons a{
    width:20%;
    float:left;
    text-align:center;
}

.footer-menu-six-icons a{
    width:16.7%;
    float:left;
    text-align:center;
}

.snap-drawer{
    background-color:#262d33;
}

/*Sidebar Menu*/

.sidebar-header a{
    width:20%;
    float:left;
    height:60px;
    text-align:center;
    line-height:60px;
    color:#FFFFFF;
    border-bottom:solid 1px rgba(0,0,0,0.1);
}

.sidebar-header a i{
    height:60px;
    line-height:60px;
    width:100%;
    text-align:center;
}

.sidebar-header a:hover{
    color:#FFFFFF;
    background-color:rgba(255,255,255,0.03);
}

.sidebar-logo{
    background-image:url(../images/sidebar-logo.png);
    background-size:133px 157px;
    width:133px;
    height:157px;
    margin-top:30px;
    margin-bottom:30px;
    margin-left:auto;
    margin-right:auto;
}

.sidebar-decoration{
    border-bottom:solid 1px rgba(0,0,0,0.1);
    height:1px;
    width:100%;
}

.sidebar-copyright{
    text-align:center;
    padding-top:10px;
    padding-bottom:30px;
    color:Rgba(255,255,255,0.4);
}

.sidebar-menu li{
    position:relative;
    overflow:hidden;
    display:block;
    list-style:none;
    line-height:60px;
    margin-bottom:0px;
}

.sidebar-menu li a:hover{
    background-color:rgba(255,255,255,0.02); 
}

.submenu li a:hover{
    background-color:rgba(255,255,255,0.02)!important;
}


.sidebar-menu li a{
    padding-left:70px;
    line-height:60px;
    color:#FFFFFF;
    font-family:'Roboto', sans-serif;
    border-bottom:solid 1px rgba(0,0,0,0.1);
    transition:all 250ms ease;
}

.sidebar-menu li a i:first-child{
    position:absolute;
    height:60px;
    width:60px;
    line-height:60px;
    text-align:center;
    left:10px;
    font-size:16px;
    color:#bcbdbd;
}

.sidebar-menu li a i:last-child{
    position:absolute;
    height:60px;
    width:60px;
    text-align:center;
    line-height:60px;
    font-size:4px;
    color:#bcbdbd;
    left:190px;
}

.sidebar-menu li .fa-caret-right{
    font-size:10px!important;
}

.sidebar-menu li .fa-mobile{
    font-size:27px!important;
}

.submenu{
    margin-bottom:0px;
}

.submenu li{
    border:none!important
}

.submenu li a{
    border:none;
}

.submenu a{
    text-indent:15px!important;
    color:#7e7e7e!important;
    margin-left:-px;
    font-size:11px;
    line-height:40px;
    line-height:100%;
    margin-top:-1px;
    margin-left:-10px;
    text-transform:none!important;
}

.submenu .fa-angle-right{
    font-size:8px!important;
    top:0px;
    left:35px!important;
}

.submenu .fa-circle{
    text-indent:19px;
}

.deploy-submenu .fa-plus{
    font-size:8px!important;
    -ms-transform: rotate(0deg); 
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg);
    transition:all 250ms ease;
}

.active-menu{
   background-color:rgba(255,255,255,0.02); 
}

.active-menu .fa-circle{
    color:#27ae60!important;
    font-size:6px!important;
}

.active-submenu{
    -webkit-transition-delay: 250ms; 
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg);
    transition:all 250ms ease;
}

.active-submenu .fa-plus{
    margin-top:1px;
    color:#c0392b!important;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg); 
    transform: rotate(135deg);
    transition:all 250ms ease;
}

.submenu{
    display:none;
    overflow:hidden;
}

.show-submenu{
    display:block;
}

.submenu li:last-child a{
    border-bottom:solid 1px rgba(0,0,0,0.1)!important;
}

.border-clear{
    
}

/*Center Socials*/

.center-socials{
    width:180px;
    margin-left:auto;
    margin-right:auto;  
    margin-bottom:0px;
    padding-top:10px;
    margin-top:-10px;
}

.center-socials a{
    transition:all 250ms ease;
    margin-bottom:30px;
}

.center-socials a:hover{
    color:#FFFFFF;
    transform:scale(1.1, 1.1);
    transition:all 250ms ease;
}

.center-socials a i{
    width:40px;
    height:40px;
    line-height:40px;
}

.center-socials .facebook-social{
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    border-radius:40px;
    float:left;
    margin-left:10px;
    margin-right:10px;
}

.center-socials .twitter-social{
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    border-radius:40px;
    float:left;
    margin-left:10px;
    margin-right:10px;
}

.center-socials .google-social{
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    border-radius:40px;
    float:left;
    margin-left:10px;
    margin-right:10px;
}


/*Content Heading*/
/*///////////////*/

.content-heading{
	margin-bottom:30px;	
}

.content-heading h4{
	color:#FFFFFF;
	position:absolute;	
	z-index:9999;
	text-transform:uppercase;
	margin-top:27px;
	padding-left:30px;
    pointer-events:none;
    font-weight:800;
}

.content-heading{
	max-height:100px;	
}

.content-heading p{
	color:#FFFFFF;
	position:absolute;	
	z-index:999;
	margin-top:48px;
	padding-left:30px;
	opacity:0.5;
    pointer-events:none;
}

.content-heading .overlay{
	z-index:99;
	background-color:rgba(0,0,0,0.8);
}

.content-heading i{
	font-size:32px;
	position:absolute;
	color:#FFFFFF;
	right:30px;	
	z-index:999;
	margin-top:36px;
    pointer-events:none;
}

.content-heading img{
	width:100%;
	display:block;
	position:relative;
	z-index:2;
    transition:all 250ms ease;
}

.content-heading img:hover{
    filter: blur(3px);  
    -webkit-filter:blur(3px);
    transition:all 250ms ease;
}

@media (min-width:768px){
	.content-heading{
		max-height:140px;	
	}
	
	.content-heading h4{
		font-size:20px;	
		margin-top:45px;
		padding-left:50px;
	}
	
	.content-heading p{
		font-size:13px;	
		margin-top:75px;
		padding-left:50px;
	}
	
	.content-heading i{
		font-size:40px;
		margin-top:53px;
		right:50px;	
	}
}



/*Thumbnails Columns*/

.thumb-clear{
	height:40px;
	display:block;
	width:100%;
}

.thumb-left{
	line-height:24px;
	display:block;
	padding-bottom:10px;
}

.thumb-left a{
	display:block;
	text-align:right;
}

.thumb-left img{
	width:100px;
	height:100px;
	border-radius:100px;
	float:left;
	margin-right:20px;
    transition:all 250ms ease;
}

.thumb-left img:hover{
    transform:scale(0.9, 0.9);
    transition:all 250ms ease;
}

.thumb-left strong{
	color:#1a1a1a;
	display:inline-block;
	padding-bottom:5px;
	font-size:13px;
}

.thumb-left em{
	font-style:normal;
}

.thumb-right{
	line-height:24px;
	display:block;
	padding-bottom:10px;
}

.thumb-right img{
	width:100px;
	height:100px;
	border-radius:100px;
	float:right;
	margin-left:20px;
    transition:all 250ms ease;
}

.thumb-right img:hover{
    transform:scale(0.9, 0.9);
    transition:all 250ms ease;
}

.thumb-right strong{
	color:#1a1a1a;
	display:inline-block;
	padding-top:5px;
	padding-bottom:5px;
	font-size:13px;
}

.thumb-right em{
	font-style:normal;
}


@media (min-width:600px){
	.thumb-left img{
		width:140px;
		height:140px;
		border-radius:150px;	
	}
	
	.thumb-left em{
		line-height:28px;	
	}
	
	.thumb-left strong{
		padding-top:10px;	
	}
	
	.thumb-right img{
		width:140px;
		height:140px;
		border-radius:150px;	
	}
	
	.thumb-right em{
		line-height:28px;	
	}
	
	.thumb-right strong{
		padding-top:10px;	
	}	
}


/*////////////////////*/
/*Quote & Staff Slider*/
/*////////////////////*/

.staff-item img{
	border-radius:300px;	
	max-width:150px;
	margin-left:auto;
	margin-right:auto;
    transition:all 250ms ease;
    margin-top:10px;
}

.staff-item img:hover{
    transform:scale(0.9, 0.9);
    transition:all 250ms ease;
}

.staff-item h4{
	text-align:center;
	margin-top:20px;	
	font-size:16px;
}

.staff-item em{
	text-align:center;
	font-size:12px;
	color:#e34e47;
	display:block;
	margin-top:-10px;
	margin-bottom:10px;
	font-style:normal;
}

.staff-item strong{
	display:block;	
	font-weight:400;
	text-align:center;
	padding-left:20px;
	padding-right:20px;
	line-height:28px;
}



/* Quote Slider */

.quote-slider h4{
	font-family:'Source Sans Pro', sans-serif;
	font-size:18px;
	font-weight:300;	
	width:87%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	line-height:36px;
}

.quote-slider a{
	text-align:center;
	margin-top:20px;	
}


.features-page a{
    font-size:14px;
}

.features-page a i {
    width:15px;
    text-align:center;
    padding-right:30px;
    color:#c0392b;
}

.features-page{
    border-top:solid 1px rgba(0,0,0,0.1);
    margin-top:30px!important;
    display:block;
}

.features-page a{
    line-height:60px;
    border-bottom:solid 1px rgba(0,0,0,0.1);
    color:#1f1f1f;
    font-weight:500;
}

.features-page a:hover{color:#1f1f1f;}

.features-page .fa-angle-right{
    float:right;
    line-height:60px;
    text-align:right!important;
    margin-right:-20px;
}


/*Back Button*/

.back-button{
    position:absolute;
    right:0px;
    z-index:10;
    font-size:13px;
}

.back-button i{
    padding-right:10px;
    font-size:12px;
}



/*Reminder Box*/

.reminder-check-square{
    background-image:url(../images/ui/checkbox1.png);
    background-repeat:no-repeat;
    background-size:16px 18px;
    background-position:10px 43px;
}

.reminder-check-round{
    background-image:url(../images/ui/radio2.png);
    background-repeat:no-repeat;
    background-size:16px 18px;
    background-position:10px 43px;
}

.reminder i{
    padding-right:10px;
}

.reminder-check-square-selected{
    background-image:url(../images/ui/checkbox1c.png);
}

.reminder-check-round-selected{
    background-image:url(../images/ui/radio2c.png);
}

.reminder-check-square-selected em{opacity:0.5; transition:all 250ms ease;}
.reminder-check-square-selected strong{opacity:0.5; transition:all 250ms ease;}

.reminder-check-round-selected em{opacity:0.5; transition:all 250ms ease;}
.reminder-check-round-selected strong{opacity:0.5; transition:all 250ms ease;}

.reminder strong{
    font-size:14px;
    font-weight:600;
    padding-left:50px;
    color:#1f1f1f;
    transition:all 250ms ease;
}

.reminder em{
    display:block;
    padding-left:50px;
    transition:all 250ms ease;
    font-style:normal
}

.reminder{
    border-bottom:solid 1px rgba(0,0,0,0.1);
    padding-bottom:30px;
    padding-top:30px;
}


/*Checklists*/

.checklist-square{
    font-size:14px;
    font-weight:500;
    background-image:url(../images/ui/checkbox1.png);
    background-size:16px 18px;
    background-position:0px 32px;
    background-repeat:no-repeat;
    padding-left:30px;
    border-bottom:solid 1px rgba(0,0,0,0.1);
    padding-bottom:30px;
    color:#1f1f1f;
    transition:all 250ms ease;
    padding-top:30px;
}

.checklist-square-selected:hover{
    color:#1f1f1f;
    text-decoration:line-through!important;
    transition:all 250ms ease;
}

.checklist-square:hover{
    color:#1f1f1f;
}

.checklist-square-selected{
    background-image:url(../images/ui/checkbox1c.png);
    text-decoration:line-through;
    opacity:0.5;
    transition:all 250ms ease;
}

.checklist-round{
    font-size:14px;
    font-weight:500;
    background-image:url(../images/ui/radio1.png);
    background-size:16px 18px;
    background-position:0px 32px;
    background-repeat:no-repeat;
    padding-left:30px;
    border-bottom:solid 1px rgba(0,0,0,0.1);
    padding-bottom:30px;
    color:#1f1f1f;
    transition:all 250ms ease;
    padding-top:30px;
}

.checklist-round-selected:hover{
    color:#1f1f1f;
    text-decoration:line-through!important;
    transition:all 250ms ease;
}

.checklist-round:hover{
    color:#1f1f1f;
}

.checklist-round-selected{
    background-image:url(../images/ui/radio1c.png);
    text-decoration:line-through;
    opacity:0.5;
    transition:all 250ms ease;
}

.inpotbox{
    display:block;
    width:100%;
    height:30px;
    padding-left:5px;
    padding-right:5px;
    line-height:30px;
    line-height:100%;
    border:solid 1px #cacaca; 
    color:#666666;
    border-radius:0px;
}

.numberbox{
    display:block;
    width:100%;
    height:30px;
    padding-left:10px;
    padding-right:0px;
    line-height:30px;
    line-height:100%;
    border:solid 1px #cacaca; 
    color:#666666;
    border-radius:0px;
}

.responsive-button{
	width:100%;
	
}

.successMessage {
    color:green;
}

.errorMessage {
    color:orange;
}

.login-page1{
    background-size:cover;
    /*position:absolute;*/
    /*width:100%!important;
    min-height:100%!important;
    height:100%!important;*/
     /*margin-top:-100px;*/
    /*margin-bottom:-60px;*/
 
}

.login-page-overlay1{
    background-color:rgba(0,0,0,0.8);
    position:absolute;
    width:100%;
    min-height:100%!important;
    height:100%;
    z-index:1;
}

.login-page-wrapper1{
    width:280px;
    height:590px;
    min-height:100%!important;
    top:50%;
    margin-top:50px;
    left:50%;
    margin-left:-140px;
    z-index:2;
}

.full-height {
    min-height: 100% !important;height: 100% !important;
    background-color:red;
}

.ul {
    list-style-type: none;
}

