﻿<div>
    <!-- Content Heading -->
    <div class="content-heading">
        <h4>Home Manager</h4>
        <p>Welcome to Home Manager!</p>
        <i class="fa fa-home"></i>
        <div class="overlay"></div>
        <img src="images/pictures/6w.jpg" alt="img">

    </div>

    <!-- Page Content-->
    <div class="content">
        <!-- Staff Slider-->
        <div class="container">
            <div class="one-half">
                <a href="#/roomDetails" class="button button-green">Room Manager</a>
            </div>
            <div class="one-half last-column">

            </div>

            <!--<div class="decoration"></div>-->
        </div>

    </div>

    <!--<form name="userForm">
        <input type="text"
               name="username"
               ng-model="user.username"
               ng-minlength="3"
               ng-maxlength="8"
               required>
        <p ng-show="userForm.username.$error.minlength">Username is too short.</p>
        <div ng-messages="userForm.username.$error">
            <p ng-message="minlength">Your name is too short.</p>
            <p ng-message="maxlength">Your name is too long.</p>
            <p ng-message="required">Your name is required.</p>
        </div>
    </form>-->
