﻿
<div class="login-page-overlay1"></div>
  <div class="bg1 login-page1">
    <div class="login-page-wrapper1">

        <div class="container full-bottom">

            <a href="#" class="login-logo"></a>
            <p class="center-text">
                Please enter your login credentials bellow.
            </p>
            <input type="text" class="login-username" placeholder="username" name="username" ng-model="loginUser.EmailId">
            <input type="password" class="login-password" placeholder="Password" ng-model="loginUser.password">
        </div>
        <div class="container half-bottom">
            <div class="one-half full">
                <a ng-click="login();" class="button button-green responsive-button center-text">Login</a>
            </div>

            <div class="one-half last-column">
                <a href="#/signup" class="button button-blue responsive-button center-text">Signup</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="container half-bottom">
            <a class="center-text forgot" ng-click="forgotPassword();">Forgot Password?</a>
            <p class="center-text">{{result.errorMessage}}</p>

        </div>
    </div>

</div>

