﻿<div class="all-elements">
    <div class="snap-drawers">
        <!-- Left Sidebar -->
        <div class="snap-drawer snap-drawer-left">
            <div class="sidebar-header">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-phone"></i></a>
                <a href="#"><i class="fa fa-envelope-o"></i></a>
                <a class="sidebar-close" href="#"><i class="fa fa-times"></i></a>
            </div>
            <a href="#" class="sidebar-logo"></a>
            <div class="sidebar-decoration"></div>
            <ul class="sidebar-menu">
                <li class="active-menu"><a href="#"><i class="fa fa-home"></i>Home<i class="fa fa-circle"></i></a></li>
                <li><a href="#"><i class="fa fa-cog"></i>Settings<i class="fa fa-circle"></i></a></li>
                <li><a href="#"><i class="fa fa-user"></i>Profile<i class="fa fa-circle"></i></a></li>
                <li><a href="#"><i class="fa fa-pencil"></i>Blog<i class="fa fa-circle"></i></a></li>
                <li><a href="#"><i class="fa fa-envelope"></i>Contact<i class="fa fa-circle"></i></a></li>
                <li><a href="#" class="sidebar-close"><i class="fa fa-times"></i>Close<i class="fa fa-circle"></i></a></li>
            </ul>
            <div class="sidebar-copyright">
                Copyright 2015. All rights reserved.
            </div>
            <div class="center-socials">
                <a href="#" class="facebook-color facebook-social"><i class="fa fa-facebook"></i></a>
                <a href="#" class="google-color google-social"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="twitter-color twitter-social"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>

    <!-- Page Content-->
    <div id="content" class="snap-content">
        <!--<div class="header" ng-show="$state.current.name.indexOf('signup') == -1 && $state.current.name.indexOf('login') == -1">-->
        <div class="header">
            <a href="#" class="sidebar-deploy"><i class="fa fa-navicon"></i></a>
            <h3>Home Manager</h3>
            <a href="#" class="contact-deploy"><i class="fa fa-envelope-o"></i></a>
        </div>
        <div ui-view="menuContent"></div>
        <!-- Page Footer-->
        <!--<div class="footer">
            <p class="center-text">Copyright 2015. All rights reserved.</p>
            <div class="footer-socials half-bottom">
                <a href="#" class="footer-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="footer-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="footer-google"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="footer-share show-share-bottom"><i class="fa fa-share-alt"></i></a>
                <a href="#" class="footer-up"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>-->
    </div>


</div>