﻿
<div class="login-page-overlay1"></div>
<div class="bg2 login-page1">
    <div class="login-page-wrapper1">

        <div class="container full-bottom">

            <a href="#" class="signup-logo"></a>
            <p>
                Create an account bellow, it's really easy!
            </p>
            <!--<form name="myForm" >-->
            <input type="text" class="signup-input" placeholder="First Name" ng-model="signupUser.FirstName">
            <input type="text" class="signup-input" placeholder="Last Name" ng-model="signupUser.LastName">
            <input type="email" class="signup-email" placeholder="Email" name="EmailId" ng-model="signupUser.EmailId">
            <input type="password" class="signup-password" placeholder="Password" ng-model="signupUser.Password">
            <p ng-show="showFirstNameError">Please Enter Valid First Name</p>
            <p ng-show="showLastNameError">Please Enter Valid Last Name</p>
            <p ng-show="showEmailError">Please Enter Valid Email</p>
            <p ng-show="showPasswordError">Please Enter Valid Password</p>
        </div>
        <div class="container half-bottom">
            <div class="one-half">
                <a ng-click="signup();" class="button button-green full-button">Signup</a>
            </div>
            <div class="one-half last-column">
                <a href="#/login" class="button button-blue full-button">Login</a>
            </div>

            <div class="clear"></div>
        </div>
        
    </div>

</div>

